// http://eslint.org/docs/rules/
{
  //"extends": "eslint:recommended",
  "env": {
    //remove either of the lines below if you don't need it
    //enable nodejs environment
    "node": 1,
    //enable browser environment
    "browser": 1,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    //place settings for globals here, such as
    "exampleGlobalVariable": true,
    "log": true,
    "imports": true,
    "C_": true
  },
  "rules": {
    "comma-dangle": 0,//[2, "always-multiline"],
    "no-cond-assign": 2,
    "no-console": 1,
    "no-constant-condition": 2,
    "no-control-regex": 2,
    "no-debugger": 2,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-empty-character-class": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-boolean-cast": 2,
    "no-extra-parens": 0,
    "no-extra-semi": 2,
    "no-func-assign": 2,
    "no-inner-declarations": 2,
    "no-invalid-regexp": 2,
    "no-irregular-whitespace": 2,
    "no-negated-in-lhs": 2,
    "no-obj-calls": 2,
    "no-regex-spaces": 2,
    "no-sparse-arrays": 2,
    "no-unreachable": 2,
    "use-isnan": 2,
    "valid-jsdoc": 0,
    "valid-typeof": 2,
    "no-unexpected-multiline": 2,

    "accessor-pairs": 2,
    "block-scoped-var": 2,
    "complexity": 0,
    "consistent-return": 2,
    "curly": 2,
    "default-case": 2,
    "dot-notation": 1,
    "dot-location": [2, "property"],
    "eqeqeq": 2,
    //"guard-for-in": 2,
    "no-alert": 1,
    "no-caller": 2,
    "no-div-regex": 2,
    "no-else-return": 2,
    "no-eq-null": 2,
    "no-eval": 2,
    //"no-extend-native": 2, //TODO:re-enable? is this not supported by GS?
    "no-extra-bind": 2,
    "no-fallthrough": 2,
    "no-floating-decimal": 2,
    //"no-implicit-coercion": 2,
    "no-implied-eval": 2,
    "no-invalid-this": 0,
    "no-iterator": 2,
    "no-labels": 2,
    "no-lone-blocks": 2,
    //"no-loop-func": 2,
    "no-multi-spaces": 1,
    //"no-multi-str": 2,
    "no-native-reassign": 2,
    "no-new-func": 2,
    "no-new-wrappers": 2,
    "no-new": 2,
    "no-octal-escape": 2,
    "no-octal": 2,
    "no-param-reassign": 0,
    "no-process-env": 2,
    "no-proto": 2,
    "no-redeclare": 2,
    "no-return-assign": 2,
    "no-script-url": 2,
    "no-self-compare": 2,
    "no-sequences": 2,
    "no-throw-literal": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    "no-useless-concat": 2,
    "no-void": 2,
    //"no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
    "no-with": 2,
    //"radix": 2,
    "vars-on-top": 0,
    "wrap-iife": [2, "inside"],
    "yoda": [2, "never"],

    //"strict": [2, "global"],

    "init-declarations": 0,
    "no-catch-shadow": 0,
    "no-delete-var": 2,
    "no-label-var": 2,
    "no-shadow-restricted-names": 2,
    "no-shadow": 1,
    "no-undef-init": 2,
    "no-undef": 2,
    "no-undefined": 2,
    "no-unused-vars": 0, //TODO:re-enable?
    "no-use-before-define": 1,

    "callback-return": 2,
    "handle-callback-err": 2,
    "no-mixed-requires": [1, true],
    "no-new-require": 2,
    "no-path-concat": 2,
    "no-process-exit": 2,
    "no-sync": 2,

    "array-bracket-spacing": 0,//[1, "always"],
    "block-spacing": [1, "always"],
    "brace-style": [1, "1tbs", {"allowSingleLine": false}],
    "camelcase": 0,
    "comma-spacing": [1, {"before": false, "after": true}],
    "comma-style": [1, "last"],
    "computed-property-spacing": [1, "never"],
    "consistent-this": 0,
    "eol-last": 1,
    "func-names": 0,
    //"func-style": [2, "declaration"],
    "id-length": 0,
    "indent": [1, 4],
    "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
    "keyword-spacing": 1,
    "lines-around-comment": 0,
    "linebreak-style": [1, "unix"],
    "max-nested-callbacks": [2, 3],
    "new-cap": 0,
    "new-parens": 2,
    "newline-after-var": 0,
    "no-array-constructor": 2,
    //"no-continue": 2,
    //"no-inline-comments": 1,
    "no-lonely-if": 2,
    "no-mixed-spaces-and-tabs": 1,
    "no-multiple-empty-lines": [1, {"max": 2}],
    "no-nested-ternary": 2,
    "no-new-object": 2,
    "no-spaced-func": 1,
    "no-ternary": 0,
    "no-trailing-spaces": 1,
    "no-underscore-dangle": 0,
    "no-unneeded-ternary": 1,
    "object-curly-spacing": [1, "never"],
    "one-var": [1, {"uninitialized": "always", "initialized": "never"}],
    "operator-assignment": [1, "always"],
    "operator-linebreak":  [1, "after"],
    "padded-blocks": [1, "never"],
    "quote-props": [1, "as-needed"],
    "quotes": [1, "single"],
    "semi-spacing": [1, {"before": false, "after": true}],
    "semi": 0, //[2, "always"],
    "sort-vars": [1, {"ignoreCase": false}],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, {"anonymous": "always", "named": "never"}],
    "space-in-parens": [1, "never"],
    "space-infix-ops": 1,
    "space-unary-ops": [1, {"words": true, "nonwords": false}],
    "spaced-comment": [1, "always", {"exceptions": ["-", "="]}],
    "wrap-regex": 2,

    "max-len": ['error', 160],
    "no-bitwise": 0
  },
  "plugins": [
    //you can put plugins here
  ]
}
