[Desktop Entry]
Name=System Monitor Preference
Name[zh_CN]=面板系统监视器选项
Name[fr_FR]=Préférences de system-monitor-applet
GenericName=Preference Editor for system-monitor-applet
Exec=system-monitor-applet-config
Terminal=false
Type=Application
Icon=utilities-system-monitor
Categories=GNOME;System;
