Source: gnome-shell-system-monitor-applet
Section: gnome
Priority: extra
Maintainer: Carlos Alberto Lopez Perez <clopez@igalia.com>
Build-Depends: debhelper (>= 5), gnome-shell, python3-gobject
Standards-Version: 3.9.2
Homepage: https://github.com/paradoxxxzero/gnome-shell-system-monitor-applet

Package: gnome-shell-system-monitor-applet
Architecture: any
Depends: libglib2.0-bin (>= 2.30.2-4), gir1.2-gtop-2.0 (>= 2.28.4-2), ${shlibs:Depends},
 ${misc:Depends}
Description: System monitor extension for Gnome-Shell
 System monitor extension for Gnome-Shell (display mem swap cpu network usage)
