.sm-label {
    color: #bbb;
    font-size: 12px;
}

.sm-status-label {
    color: #bbb;
    font-size: 10px;
    padding: 0 2px 0 5px;
}

.sm-unit-label {
    color: #aaa;
    font-size: 8px;
    padding: 6px 5px 0 2px;
}

.sm-perc-label {
    color: #aaa;
    font-size: 10px;
    padding: 0 5px 0 2px;
}

.sm-status-value {
    min-width: 25px;
    text-align: right;
}

.sm-big-status-value {
    min-width: 32px;
    text-align: right;
}

.sm-value {
    text-align: right;
    width: 45px;
}

.sm-void {
    width: 0px;
}

.sm-chart {
    padding: 0 2px;
}

.sm-tooltip-box {
    font-size: 0.85em;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.9);
    background-color: rgba(10, 10, 10, 0.7);
    border-radius: 5px;
    padding: 3px;
}

.sm-tooltip-item {
    padding: 0px;
    spacing: 10px;
}
